@keyframes loaded {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

.image {
	opacity: 0.3;
}

.loaded:not(.hasError) {
	opacity: 1;
	animation: loaded 300ms ease-in-out;
}

.hasError {
	/* fallback to placeholder image on error */
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=');
}
