.messagesContainer {
	height: calc(100vh - 166px);
	overflow-y: scroll;
}

.uploadWrapper {
	position: relative;
	overflow: hidden;
}

.uploadWrapper input[type='file'] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
